<h1>Private gif</h1>

<img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ3RjN3NmdGxndXdtMWRhMDhyendkdGtqaWJoczIycmRuMG54enk0eSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/WXB88TeARFVvi/giphy.gif" alt="funny-cat">